<div class="max-w-5xl mx-auto px-2 my-16">
<h2 class="text-7xl font-semibold text-center mt-2 mb-1 pt-2 py-1">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field text-2xl">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full border border-x-black border-y-black" %>
  </div>

  <div class="field text-2xl">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: "w-full border border-x-black border-y-black" %>
  </div>

  <div class="field text-2xl">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "w-full border border-x-black border-y-black" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-2xl">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "text-3xl text-black bg-green my-10 px-5 py-2 rounded-md""Log in" %>
  </div>
<% end %>

<!-- パスワードを忘れた際の操作,ユーザー編集機能は本リリースの実装予定のため一旦コメントアウト
<% render "devise/shared/links" %>
-- >
